<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons details</title>
</head>
<body>
<h2>Persons details</h2>

<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <tr th:each="person: ${persons}"> <!--Know to use showDetailedPersonsList-->
        <td th:text = "${person.name()}">Bella</td>
        <td th:text = "${person.surname()}">Banana</td>
        <td th:text = "${person.age()}">18</td>
    </tr>
    </tbody>
</table>
</body>
</html>