table {
    border-collapse: collapse;
}

td {
    border: 2px solid plum;
    padding: 5px 5px 5px 5px;
}

#headerRow {
    background: cadetblue;
    font-weight: bold;
    text-align: center;
}

#bodyRow {
    background: blanchedalmond;
}